/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 0 var(--adaptive-margin);
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-item {
  margin-top: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  line-height: 1;
  border: none;
  font-size: var(--base-font-size);
  color: var(--decor-accent-color);
  border-color: var(--decor-accent-color);
  min-width: 70px;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-accent-color);
  pointer-events: none;
}

.decorative__rec {
  color: var(--accent-color);
  font-size: var(--base-font-size);
  position: absolute;
  inset: var(--adaptive-margin) var(--adaptive-REC-right-margin) auto auto;
}

.decorative__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  aspect-ratio: 1;
  margin: 0 0 2px 10px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
}

.decorated-zone {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  aspect-ratio: 1;
  position: absolute;
  inset: var(--adaptive-margin) var(--adaptive-margin) auto auto;
  border-top: 1px solid var(--decor-accent-color);
  border-right: 1px solid var(--decor-accent-color);
}

.decorated-zone::after {
  content: "";
  width: 25px;
  aspect-ratio: 1;
  position: absolute;
  inset: auto auto var(--adaptive-margin) var(--adaptive-margin);
  border-left: 1px solid var(--decor-accent-color);
  border-bottom: 1px solid var(--decor-accent-color);
}

.title {
  font-size: var(--title-font-size-mobile);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-font-color);
  line-height: 83%;
}

.title__description {
  align-self: center;
  width: 50%;
  min-width: 355px;
  justify-self: end;
  margin-bottom: var(--adaptive-margin);
}

.title__decor {
  line-height: var(--base-line-height);
  font-weight: 700;
  font-size: var(--base-font-size);
  color: var(--on-accent-text-color);
  background-color: var(--accent-color);
}

.main__section {
  display: grid;
  gap: var(--section-gap);
  padding: var(--adaptive-top-margin) var(--adaptive-margin) 0;
}

.section-title-decor {
  color: var(--decor-accent-color);
  background-color: transparent;
}

.article-item {
  display: grid;
  align-content: start;
  gap: 10px;
}

.paragraph-decor {
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);
  color: var(--paragraph-font-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  position: relative;
  text-decoration-skip-ink: none;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.concentrate {
  display: grid;
  gap: 20px;
}

.advice {
  font-weight: 400;
}

.image-concentrate {
  display: grid;
  gap: var(--adaptive-margin);
}

.concentrate-item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  margin-top: var(--adaptive-top-margin);
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.blanket {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 768px) {
  h1.title {
    margin-left: calc(-1 * var(--adaptive-margin));
  }

  .title {
    font-size: var(--title-font-size-desktop);
    margin: 0;
  }

  .concentrate__sidebar {
    grid-template-columns: 1fr 2fr;
  }

  .section-title-decor {
    grid-row: 1;
  }

  .lower__concentrate {
    grid-template-columns: 1fr;
  }

  .lower__concentrate .section-title-decor {
    grid-column: 1 / -1;
    max-width: calc((100% - 2 * 20px) / 3);
  }

  .concentrate-item-sunst {
    grid-area: sunset;
  }

  .concentrate-item-iscrm {
    grid-area: icecream;
  }

  .concentrate-item-casset {
    grid-area: casset;
  }

  .concentrate-item-book {
    grid-area: books;
  }

  .concentrate-item-korean {
    grid-area: korean;
  }

  .article-images {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "sunset  sunset  icecream"
      "casset  books   icecream"
      "casset  korean  korean";
  }

  .article-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    margin-top: 10px;
  }

  .concentrate {
    gap: 10px;
  }

  .lower__concentrate {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
