/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-img: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --accent-color-hover: #ff007066;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-dectop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --title-font-color: #db00ff;
  --description-font-size: 18px;
  --main-title-font-size: #000028;
  --classic-line-height: 23.4px;
  --paragpaph-font-color: #f1b2ce;
  --adaptive-margin: clamp(10px, 2.66vw, 20px);
  --adaptive-REC-right-margin: clamp(19px, 5.06vw, 29px);
  --adaptive-first-main-margin: clamp(40px, 10.66vw, 60px);
  --adaptive-main-gap: clamp(50px, 13.33vw, 80px);
}
